{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Instagram</title>
</head>

<body>
  <div class="container">
    <div class="index">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <form class="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" name="button">Sign Up</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>